<div class="main-content">
    <h2>
        Home
    </h2>

     Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla vel dapibus a, blandit quis erat vivamus elementum aliquam luctus etiam fringilla pretium sem vitae sodales mauris id nulla est praesent laoreet, metus vel auctor aliquam, eros purus vulputate leo, eget consequat neque quam id tellus duis ultricies tempor tortor, vitae dignissim ligula mattis nec in hac habitasse platea dictumst.

    
            <table>
                <tr>
                    <td><select name="project_naam" class="fancy_selectbox" tabindex="1">
			    <option value="">-- Selecteer project --</option>
			    <optgroup label="Blok 5">
				    <option value="1">Project waterval - ontwerp</option>
			    </optgroup>
			    <optgroup label="Blok 6">
				    <option value="2">Project waterval - bouw</option>
				    <option value="2">Nog een project</option>
			    </optgroup>
		    </select> </td>
                    <td><button class="button" style ="">Naar project</button></td>
                </tr>
                
            </table>                
            
    @using (@Html.BeginForm("ProjectOverzicht", "Project", FormMethod.Post))
    {
        @Html.DropDownList("Project")
        <input type="submit" value="Naar Project" />
    }
            
</div>