<div class="main-content">
    <h2>
        Home
    </h2>

    <p>Kies een project en daarna een beoordelingsmoment om je medestudenten te beoordelen of je beoordelingen in te zien.</p>
    
            @*<table>
                <tr>
                    <td>
                        <select name="project_naam" class="fancy_selectbox" tabindex="1">
			                <option value="">-- Selecteer project --</option>
			                <optgroup label="Blok 5">
				                <option value="1">Project waterval - ontwerp</option>
			                </optgroup>
			                <optgroup label="Blok 6">
				                <option value="2">Project waterval - bouw</option>
				                <option value="2">Nog een project</option>
			                </optgroup>
		                </select> 
                    </td>
                    <td><button class="button" style ="">Naar project</button></td>
                </tr>
            </table>*@             
            
    @using (@Html.BeginForm("ProjectOverzicht", "Student", FormMethod.Post))
    {
        @Html.DropDownList("projectId", null,  new { @class = "fancy_selectbox" })
        <input type="submit" value="Naar Project" />
    }
            
</div>