<br/>

<div class="align-center">

    <select>
        <option value="">-- Selecteer project --</option>
	    <optgroup label="Blok 5">
            <option value="1">Project waterval - ontwerp</option>
	    </optgroup>
	    <optgroup label="Blok 6">
            <option value="2">Project waterval - bouw</option>
	        <option value="2">Nog een project</option>
	    </optgroup>
    </select>

    <button class="button">Groepen toewijzen</button>

</div>

<br/>
<br/>

<div class="align-center">

<div class="float-left">

    <select size="17" multiple="multiple" class="groepListbox">
      @foreach (string g in ViewBag.Groepen)
      {
          <option>@g</option>
      }
    </select>

</div>

<div class="divLeft2 buttonGroepToewijzenGroep">

    <button class="button groepToewijzenButton">Toewijzen</button>

    <br/>
    <br/>

    <button class="button groepToewijzenButton">Terugzetten</button>

</div>

<div class="float-left">
<select size="17" multiple="multiple" class="groepListbox">

</select>

    <br/>
    <br/>

    <button class="button float-right">Opslaan</button>

</div>

</div>

