@{
    ViewBag.Title = "Login";
}

<h2>Inloggen</h2>

<p>Om je groepsgenoten te kunnen beoordelen moet je ingeloged zijn.<br />Klik hier onder om in te loggen via <a href="http://Avans.nl" title="Avans Hogeschool" class="tableLink">Avans</a>.</p>

@Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })


