<br/>

@using (@Html.BeginForm("ImporterenExelSheet", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file">
    <input type="submit" value="Importeren excel sheet" />
}

<br/>
<br/>

<div class="divGroepsindeling align-center">

    <select size="10" class="groepsindelingListbox"></select>

    <br/>
    <br/>

    <span class="float-left">Toevoegbare studenten:</span>

    <br/>

    <input type="text" value="Zoek student">

</div>

<br/>


    <div class="float-left divGroepsindeling">

        <span>Studenten:</span>
         
        <br/> 

        <select size="10" class="groepsindelingListbox">
        </select>

        <br/>
        <br/>

        <button class="button groepsindelingButton">Verwijder uit groep</button>

    </div>

    <div class="float-left  divGroepsindeling">

        <br/>

        <select size="10" class="groepsindelingListbox">
            <option>Test</option>
            <option>Test</option>
            <option>Test</option>
            <option>Test</option>
            <option>Test</option>
            <option>Test</option>   
        </select>

        <br/>
        <br/>

        <button class="button groepsindelingButton">Voeg toe</button>

    </div>

 <div class="float-left divOpslaan">

    <button class="button groepsindelingButton">Opslaan</button>

</div>
 