<h2>Menu</h2>

@using (@Html.BeginForm("GroepsindelingAanmaken", "Project", FormMethod.Post))
{
    <input type="submit" value="Groepsindeling aanmaken" />
}

@using (@Html.BeginForm("MentorStudenten", "Docent", FormMethod.Post))
{
    <input type="submit" value="Mentorstudenten bekijken" />
}