@{
    ViewBag.Title = "SelecteerTutorGroep";
}

<h2>SelecteerTutorGroep</h2>

@using (Html.BeginForm("GroupView", "Docent", FormMethod.Post))
{
    @Html.DropDownList("Project", (IEnumerable<SelectListItem>)ViewBag.Groups , new { @class = "fancy_selectbox" })
    <input type="submit" value="Naar Group" />
}