@{
    ViewBag.Title = "SelecteerTutorGroep";
}

<h2>Selecteer TutorGroep</h2>

@using (@Html.BeginForm("ViewGroep", "Docent", FormMethod.Post))
{
    <div>
        @Html.DropDownList("groep", (SelectList) ViewBag.selectListGroups , new { @class = "fancy_selectbox" })
    </div>
    
    <div>
        <input type="submit" value="Naar Groep" />
    </div>
    
}