@{
    ViewBag.Title = "SelecteerProject";
}

<h2>Selecteer Project</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.DropDownList("Project", (IEnumerable<SelectListItem>)ViewBag.Project,  new { @class = "fancy_selectbox" })
    <input type="submit" value="Naar Project" />
}