@{
    ViewBag.Title = "SelecteerTutorGroep";
}

<h2>Selecteer TutorGroep</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.DropDownList("group", (SelectList) ViewBag.selectListGroups , new { @class = "fancy_selectbox" })
    </div>
    
    <div>
        <input type="submit" value="Naar Groep" />
    </div>
    
}