@{
    ViewBag.Title = "SelecteerProject";
}

<h2>Selecteer Project</h2>

@using (@Html.BeginForm("SelecteerTutorGroep", "Docent", FormMethod.Post))
{
   
    <div>
        @Html.DropDownList("project", (SelectList)ViewBag.selectListProjects, new { @class = "fancy_selectbox" })
    </div>
    
    <div>
        <input type="submit" value="Naar Project" />
    </div>
    
}