@model SelectList

@{
    ViewBag.Title = "SelecteerTutorGroep";
}

<h2>Selecteer TutorGroep</h2>

@using (Html.BeginForm("ViewGroep", "Docent", FormMethod.Post))
{
    @Html.DropDownList("Group", Model , new { @class = "fancy_selectbox" })
    <input type="submit" value="Naar Group" />
}