<br/>
<div class="align-center">

</div>

<br/>

<div id="tabs">
  <ul>
    @{
        int i3 = 1;
        @*foreach(string s in ViewBag.Studenten)
        {
            <li><a href="#tabs-@i3">@s</a></li>
            i3++;      
        }*@
        <li><a href="#tabs-1">Algemeen</a></li>
        <li><a href="#tabs-2">AII-1314A-INSOPRJ5</a></li>
    }
  </ul>
@{
    i3 = 1;
    foreach(string s in ViewBag.Studenten)
    {
      <div id="tabs-@i3" class="tab">
            <br/>
            <select name="ComboBoxWeek" class="float-left">
            @{
                int i2 = 1;
                foreach(string week in ViewBag.BeoordelingsMomenten)
                {
			        <option value="@i2">@week</option>
                    i2++;
                }
            }
        </select>
          <input type="submit" value="Naar student" class="float-right"/>
          
            <br/>
            <br/>
          <div class ="tabcontainer">
              <table>
                  <tr>
                      <th></th><th class="align-center">Gemiddelde</th>
                      @{
                            foreach (string student in ViewBag.Studenten)
                            {
                                if(student != s)
                                {
                                    <th class="align-center">@student</th>
                                }
                            }
                      }
                  </tr>
                  @{
                        foreach (string c in ViewBag.Competenties)
                        {
                            <tr>
                                <td>@c:</td>
                                <td class="cijferOverzicht">6</td>
                                @foreach (string student in ViewBag.Studenten)
                                {
                                    if(student != s)
                                    {
                                        <td class="cijferOverzicht">6</td>
                                    }
                                }
                            </tr>
                        }
                 }
                <tr>
                    <td></td><td></td>
                    @foreach (string student in ViewBag.Studenten)
                    {
                         if(student != s)
                         {
                                <td><input type="button" value="Opmerkingen" class="align-center"/></td>
                         }
                    }
                </tr>
              </table>
        </div>
      </div>
        i3++;
    }
}
</div>