<br/>

<div class="divOpmerkingen">

    <select size="12" class="opmerkingListBox">
        @foreach (string o in ViewBag.Opmerkingen)
        {
            <option>@o</option>
        }
    </select>

    <br/>
    <br/>

    <textarea class="opmerkingTextarea"></textarea>

    <br/>
    <br/>

    <button class="button float-right">Voeg toe</button>

</div>
