<br/>

<div class="align-center">

    <select name="ComboBoxProject">
        <option value="">-- Selecteer project --</option>
	    <optgroup label="Blok 5">
            <option value="1">Project waterval - ontwerp</option>
	    </optgroup>
	    <optgroup label="Blok 6">
            <option value="2">Project waterval - bouw</option>
	        <option value="2">Nog een project</option>
	    </optgroup>
    </select>

</div>

<br/>
<br/>

<div class="align-center">

    @foreach (string g in ViewBag.Groepen)
    {
        <div class="float-left">

            <span>@g</span>

            <br/>

            <select size="7" class="groepListbox2">
                @foreach (string d in ViewBag.Docenten)
                {
                    <option>@d</option>
                }
            </select>

            <br/>
            <br/>

            <button class="button">Wijs tutor toe</button>
        
        </div>
    }

</div>

<br/>

<div class="divRight">
    <p>
        <button class="button float-right">Opslaan</button>
    </p>
</div>