<br/>

<span>Toevoegbare studenten:</span>
<input type="text" value="Zoek">

<br/>

<select size="10">
    <option>Test</option>
    <option>Test</option>
    <option>Test</option>
    <option>Test</option>
    <option>Test</option>
</select>

<br/>
<br/>

<button class="button">Zet non-actief</button>